<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soletrando</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Soletrando</h1>
        <p id="status">Clique no botão para começar</p>
        <div id="spelled-word-container">
        </div>
        <div class="button-container">
            <button id="start-btn">Começar</button>
            <button id="delete-btn" class="hidden">Apagar Última</button>
        </div>
        <p id="correct-word-display" class="hidden"></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>